    .container {
      max-width: 100%;
      
    }
    @media screen and (min-width: 640px) {
      .container {
        max-width: 640px;
      }
    }
    @media screen and (min-width: 768px) {
      .container {
        max-width: 768px;
      }
    }
    @media screen and (min-width: 1024px) {
      .container {
        max-width: 1024px;
      }
    }
    @media screen and (min-width: 1280px) {
      .container {
        max-width: 1280px;
      }
    }
    @media screen and (min-width: 1536px) {
      .container {
        max-width: 1536px;
      }
    }