/* Navbar */

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.navbar {
    z-index: 1;
    position: relative;
}
/* Button */

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Jumbotron */

.jumbotron {
    background-image: url(img/jumbo-bg.jpg);
    background-size: cover;
    height: 520px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 140px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    margin-bottom: 25px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* Panel Info */

.panel-info {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: white;
    margin-top: -120px;
    padding: 30px;
}

.panel-info img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.panel-info h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.panel-info p {
    font-size: 14px;
    color: #ACACAC;
    font-weight: 200px;
    margin-top: -5px;
}

/* about */
.about {
    margin-top: 120px;
    text-align: center;

}

.about h3 {
    font-size: 45px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.about h3 span {
    font-weight: 500;
}

.about p {
    font-size: 18px;
    color: #ACACAC;
    font-weight: 200;
    margin: 20px 0;
    text-align: center;
}

.about img {
    margin-left: 0px;
    height: 250px;
}

/* Feature */

.card {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 60px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    border-radius: 5px 5px 0 0;
    height: 150px;
    width: 150px;
    margin: 20px auto;
}

.card h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.card h4 {
    font-size: 20px;
    color: #ACACAC;
    font-weight: 200px;
    text-align: center;
}

.card .item {
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    color: #1C2C5D;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
}

.card .premium {
    font-size: 15px;
    margin: 5px 0;
    padding-bottom: 30px;
    text-align: center;
    color: #1C2C5D;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    opacity: 40%;
}

.card .premium-xx {
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    color: #1C2C5D;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    opacity: 40%;
}

.card .item-prem {
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    color: #1C2C5D;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 30px;
}

.card .item-prem-xx {
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    color: #1C2C5D;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
}

/* Testimonial */

.people {
    margin-top: 100px;
}

.people h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.people figure img {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 120px;
}

.people figure h6 {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #1C2C5D;
}

.people figure p {
    font-size: 10px;
    text-align: center;
    margin-top: -5px;
    color: black;
}

/* Contact */

.contact {
   margin-top: 90px;
}

.contact img {
    margin-left: 10px;
    height: 35px;
    width: 35px;
}

/* Footer */

.footer {
    margin-top: 10px;
}

.footer p {
    font-size: 16px;
    color: #ACACAC;
}

/* HAPE 6 INCI VIEW */
@media (min-width: 375px), (min-height: 812px) {

    .card {
        margin-left: 40px;
    }

}

/* HAPE 5 INCI VIEW */
@media (min-width: 360px), (min-height: 740px) {

    .card {
        margin-left: 40px;
    }

}

/* DESKTOP VIEW */
@media (min-width: 992px) { 

    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }


    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after {
       content: '';
       display: block;
       border-bottom: 3px solid #0B63DC;
       width: 50%;
       margin: auto;
       padding-bottom: 4px;
       margin-bottom: -7px;
    }

    .jumbotron {
        margin-top: -100px;
        height: 640px;
    }

    .jumbotron .display-4 {
        font-size: 62px;
        margin-bottom: 50px;
    }

    .workingspace {
        text-align: left;
    }

    .about h3 {
        text-align: left;
        font-size: 50px;
        margin-top: 20px;
    }

    .about p {
        text-align: left;
    }

    .about img {
        height: 300px;
        margin-left: 50px;
    }

    .card {
        width: 100%;
        margin-left: 0px;
    }

    .card img {
        margin: 20px 70px;
        height: 200px;
        width: 200px;
    }

    .card h3 {
        font-size: 32px;
    }
    
    .card h4 {
        font-size: 25px;
        font-weight: 300px;
    }

    .card .item {
        font-size: 18px;
    }

    .card .premium {
        font-size: 18px;
    }

    .card .premium-xx {
        font-size: 18px
    }

    .card .item-prem {
        font-size: 18px;
    }

    .card .item-prem-xx {
        font-size: 18px;
    }

    .people h5 {
        font-size: 32px;
    }

    .people figure img {
        width: 150px;
    }
    
    .people figure h6 {
        font-size: 14px;
    }
    
    .people figure p {
        font-size: 12px;
    }

    .contact img {
        height: 40px;
        width: 40px;
    }
}