            body {
                margin: 0px;
                text-align: center;
            }
            
            a {
                color: #5c969e
            }
            
            h1 {
                width: 20%;
                margin: 0 auto 0 auto;
                font-family: 'Pacifico', cursive;
                font-size: 3em;
                color: #3d7ea6;
            }
            
            span {
                text-decoration: underline;
            }
            
            .h2 {
                font-size: 2rem;
                color: #3d7ea6;
                font-weight: normal;
                line-height: 4;
            }
            
            .top {
                background-color: #fcdada;
                position: relative;
                padding-top: 30px;
            }
            
            h3 {
                color: #3d7ea6;
            }
            
            .top-cloud {
                position: absolute;
                right: 100px;
                top: 50px;
            }
            
            .bottom-cloud {
                position: absolute;
                top: 225px;
                left: 100px;
            }
            
            h2 {
                font-size: 4rem;
                color: #ffa5a5;
            }
            
            p {
                font-family: 'Montserrat', sans-serif;
            }
            
            .skill-row {
                width: 50%;
                margin: 0 auto;
                position: relative;
                text-align: left;
                line-height: 2;
            }
            
            .w-img {
                width: 25%;
                float: left;
                padding-right: 20px;
            }
            
            .c-img {
                width: 25%;
                float: right;
                margin-left: 20px;
            }
            
            hr {
                border-style: dotted none none none;
                width: 5%;
                border-width: 7px;
                border-color: #5c969e;
            }
            
            .bottom-container {
                background-color: #fcdada;
                padding-top: 40px;
                padding-bottom: 40px;
            }
            
            .footer {
                background-color: inherit;
                border: none;
                cursor: pointer;
                font-size: 1em;
                font-family: 'Montserrat', sans-serif;
            }
            
            .footer:hover {
                color: #5c969e;
            }
            
            .btn {
                background-color: #ffa5a5;
                -webkit-border-top-left-radius: 28px;
                -moz-border-radius-topleft: 28px;
                border-top-left-radius: 28px;
                -webkit-border-top-right-radius: 28px;
                -moz-border-radius-topright: 28px;
                border-top-right-radius: 28px;
                -webkit-border-bottom-right-radius: 28px;
                -moz-border-radius-bottomright: 28px;
                border-bottom-right-radius: 28px;
                -webkit-border-bottom-left-radius: 28px;
                -moz-border-radius-bottomleft: 28px;
                border-bottom-left-radius: 28px;
                text-indent: 0;
                border: 1px solid #f0895d;
                display: inline-block;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                height: 50px;
                line-height: 50px;
                width: 139px;
                text-decoration: none;
                text-align: center;
                margin-bottom: 40px;
                margin-top: 20px;
            }
            
            .btn:hover {
                background-color: #f0895d;
            }
            
            .btn:active {
                position: relative;
                top: 1px;
            }
            
            .pic {
                padding-top: 40px;
            }
            
            @media (max-width: 1028px) {
                .top-cloud {
                    width: 100%;
                    height: 100%;
                }
            }