{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Blog</title>
    <link rel = "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel = "stylesheet">
    <link rel = 'stylesheet' href = "{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class = "nav-left">
            <h1><a href ="{% url 'home' %}">Django Blog</a></h1>
        </div>
        <div class = "nav-right">
            <h1><a href ="{% url 'post_new' %}">+ NEW BLOG POST</a></h1>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>HI {{ user.username }}</p>
        <a href = "{% url 'logout' %}">Log Out</a>
    {% else %}
        <p>You are not logged in.</p>
        <a href = "{% url 'login' %}">Log In</a>
        <p>NEW USER?</p>
        <a href = "{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>