*{
    box-sizing: border-box;
 }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container {
    background-color: rgba(229, 216, 192, 0.884);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type ="text"],
input[type ="email"],
input[type ="number"],
input[type ="password"],
input[type ="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(192, 178, 178);
    border-radius: 5px;
    margin: 10px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
.main_heading{
    text-align: center;

}
input[type="submit"]{
    background-color: rgb(33, 72, 156);
    color: white;
    padding:  12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: teal;
}
