* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FAFAFA;
}

.card {
    width: 23rem;
    margin-top: -35%;
}

.pop-img {
    img {
        border-radius: 20px;
    }

    .card {
        border-radius: 20px;
        margin-left: 15px;

        img {
            width: 20px;
            height: 20px;
        }

        p {
            margin-top: -2px;
            margin-left: 5px;
            color: #656565;
        }

        span {
            font-size: 1.1rem;
            font-weight: 600;
            color: #FFB800;
        }

        .resto-info {
            .btn {
                margin-left: 140px;
                margin-top: -20px;
            }
        }
    }
}

// custom navbar
.custom-nav {

    .nav-item {
        margin-left: 20px;

        .active {
            border-bottom: #5A4FCF solid 3px;
        }
    }

    .nav-brand {
        font-family: 'Nunito', sans-serif;
        margin-left: 180px;
        margin-right: 200px;
        font-size: 1.5rem;

        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }

    .search-item {
        i {
            img {
                width: 27px;
                height: 27px;
                position: absolute;
                margin-left: 10px;
                margin-top: 5px;
                opacity: .5;
            }
        }

        input {
            border-radius: 15px;
            padding-left: 40px;
        }
    }

    .custom-btn {
        background-color: rgba(90, 79, 207, 0.1);
        border-radius: 10px;
        padding: 8px 26px;
        font-size: 1rem;
        white-space: nowrap;
        color: #5A4FCF;
    }
}

// Ads Section
.ads-sec {
    .ads {
        img {
            margin-top: 50px;
            margin-left: 60px;
            border-radius: 25px;
        }
    }

    .card {
        border-radius: 25px;
        margin-top: -35%;

        .review {

            img {
                width: 20px;
                height: 20px;
            }

            p {
                margin-left: 10px;
                color: #656565;
            }

            span {
                font-size: 1.1rem;
                font-weight: 600;
                color: #FFB800;
            }
        }

        .card-text {
            color: #656565;
        }

        .location {
            margin-top: -8px;
            margin-bottom: 30px;

            img {
                width: 18px;
                height: 18px;
                margin-right: 5px;
                opacity: .5;
            }
        }

        .btn {
            background-color: #FDC886;
            border-radius: 10px;
            padding: 16px;
            font-weight: 500;

            .image-fluid {
                margin-left: 5px;
                width: 17px;
                height: 17px;
            }
        }

        .info {
            margin-top: 13px;

            img {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                opacity: .5;
            }
        }
    }

}

// Choose us section
.choose-text {
    margin-top: 300px;

    p {
        color: #5A4FCF;
        font-weight: 500;
    }

    h4 {
        font-weight: 600;
    }
}

.choose {
    margin-top: 350px;

    .card {
        height: 18rem;
        background-color: #FAFAFA;
        border: none;
        border-radius: 20px;

        img {
            margin-top: 10px;
        }

        h5 {
            margin-top: 60px;
        }

        .btn {
            margin-top: 80px;
            background-color: #fff;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 20px;
        }

        .mt {
            margin-top: 95px;
        }

        &:hover {
            .btn {
                background-color: #FDC886;
            }
        }

        .img-fluid {
            width: 18px;
            height: 18px;
            margin-left: 5px;
            margin-top: -1px;
        }
    }
}

// Popular section

.popular {
    margin-top: 100px;

    .featured {
        margin-top: 10%;

        h6 {
            text-transform: uppercase;
            color: #5A4FCF;
        }

        h4 {
            font-weight: 600;
        }

        p {
            margin-top: 20px;
            color: #656565;
        }
    }

    a {
        margin-top: 30px;
        background-color: #FDC886;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 15px;

        img {
            width: 18px;
            height: 18px;
            margin-left: 5px;
        }

        &:hover {
            background-color: #FDC886;
        }
    }
}

// Resto Location Section
.rest-loc {
    margin-top: 200px;

    .row {
        .col-md-6 {
            h6 {
                text-transform: uppercase;
                color: #5A4FCF;
            }

            h3 {
                margin-top: 15px;
                font-weight: 600;
            }

            .btn {
                margin-left: 400px;
                background-color: #F2F2F2;
                border-radius: 20px;
                padding: 15px 20px;

                .location {

                    img {
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                        opacity: .5;
                    }
                }
            }
        }

        .col-md-4 {
            .card {
                margin-top: -150px;
                margin-left: 30px;

                .card-text {
                    margin-top: -20px;
                }
            }

            a {
                margin-top: -70px !important;
                background-color: #FDC886;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 15px;
                margin-left: 280px !important;

                img {
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    background-color: #FDC886;
                }
            }
        }
    }

    button {
        margin-top: 80px;
        margin-left: 40%;
        background-color: #FDC886;
        border-radius: 10px;
        padding: 10px 25px;
        font-weight: 600;

        img {
            margin-left: 5px;
            width: 17px;
            height: 17px;
        }
    }
}

// Chef Section
.chef {
    margin-top: 130px;
    margin-bottom: 100px;

    .row {
        img {
            border-radius: 20px;
        }

        .card {
            border-radius: 20px;
        }

        .card-shield {
            width: 11rem;
            margin-top: -740px;
            margin-left: 420px;

            .card-text {
                color: #232631;
                font-weight: 600;
                margin-top: 10px;
            }

            p {
                color: #656565;
                margin-top: -10px;
            }
        }

        .card-info {
            margin-left: -50px;

            .col-md-6 {
                margin-left: 30px;
                margin-top: 20px;

                .card-text {
                    color: #232631;
                    font-weight: 600;
                }

                p {
                    color: #656565;
                    margin-top: -10px;
                }

                a {
                    color: #FDC886;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }

        .chef-info {

            h6 {
                text-transform: uppercase;
                color: #5A4FCF;
            }

            h3 {
                margin-top: 15px;
                font-weight: 600;
            }

            .chef-lists {
                margin-top: 50px;

                .info-bg {
                    border-radius: 15px;
                    padding: 20px 20px;
                    background-color: #FAFAFA;
                }

                .info {
                    margin-top: 50px;
                    margin-left: 20px;
                }

                p {
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: #656565;
                    text-transform: uppercase;
                }

                h5 {
                    span {
                        margin-left: 280px;
                        font-size: 1rem;

                        a {
                            text-decoration: none;
                            color: #FDC886;
                        }
                    }
                }

                .location {

                    img {
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                        opacity: .5;
                    }
                }

                button {
                    margin-top: 88px;
                    background-color: #FDC886;
                    border-radius: 10px;
                    padding: 10px 25px;
                    font-weight: 600;

                    img {
                        margin-left: 5px;
                        width: 17px;
                        height: 17px;
                    }
                }
            }

        }
    }
}