*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto" , sans-serif;
}

.fContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firtsname {
    color: aqua;
    font-weight: 700;
}

.lastname {
    color: azure;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style: none;
    padding: 15px;
}

.navigation>li>a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.navigation>li>img:hover
{
    width: 65px;
    height: 65px;
    border-radius: 65px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    -ms-border-radius: 65px;
    -o-border-radius: 65px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.navigation>li>a:hover {
    color: crimson;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
}

.active:hover{
    color: white !important;
}

