@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding: 20px;
  display: flex;
  width: 100%;
  min-height: 92vh;
  background-image: url("../assets/images/banner.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: ghostwhite;
  text-align: center;
}

.hero-text h2 {
  font-size: 6vmin;
}

.hero-text h1 {
  font-size: 8vmin;
  margin-top: 30px;
  margin-bottom: 50px;
}

.explore {
  text-decoration: none;
  padding: 10px 14px;
  background: #d82148;
  border-radius: 8px;
  color: ghostwhite;
}

.explore:hover {
  background: #bd1a3d;
  color: ghostwhite;
}

.title {
  color: #d82148;
}

header {
  display: inline;
}

u {
  text-decoration: underline;
  text-decoration-color: #d82148;
  text-underline-offset: 7px;
}

nav {
  min-height: 8vh;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1); */
  width: 100%;
  background-color: #d82148;
  padding: 10px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

nav li {
  display: inline;
  /* list-style-type: none; */
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #bd1a3d;
}

nav a:hover {
  color: ghostwhite;
}

main {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  color: ghostwhite;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.container article {
  background-image: url("../assets/images/hero.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 500px;
  padding: 30px;
  border-radius: 8px;
}

.container article h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.container article p {
  color: ghostwhite;
  text-align: justify;
  font-size: 22px;
}

.container aside {
  margin-left: 20px;
  flex-basis: 20%;
  min-height: 500px;
  border-radius: 8px;
  display: flex;
  color: ghostwhite;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

aside img {
  flex-basis: 50%;
  border-radius: 8px 8px 0 0;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

aside .info {
  padding: 10px;
  flex-basis: 50%;
  height: 40px;
  text-align: center;
}

.info h1 {
  font-size: 18px;
  color: #d82148;
}

.info p {
  font-style: italic;
  margin-top: 10px;
  font-size: 14px;
  color: #bd1a3d;
}

.benefits {
  min-height: 475px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.benefits h1 {
  color: #bd1a3d;
}

.benefits-items {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 15px;
}

.box {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-height: 300px;
  flex-grow: 25%;
  color: ghostwhite;
  background-color: #d82148;
}

.box .desc {
  margin-top: 10px;
  text-align: justify;
}

.carousel {
  padding: 20px;
  min-height: 450px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 8px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  max-height: 450px;
}

.carousel-info {
  font-size: 18px;
  color: #d82148;
  margin-right: 20px;
}

.action {
  margin-top: 20px;
}

.btn {
  font-size: 14px;
  background-color: #d82148;
  color: ghostwhite;
  border: none;
  min-width: 100px;
  display: block;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

footer {
  padding: 20px;
  color: ghostwhite;
  background-color: #d82148;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }

  .container aside {
    margin-left: 0px;
    margin-top: 30px;
  }

  .info p {
    padding-left: 30px;
    padding-right: 30px;
  }

  .benefits-items {
    flex-direction: column;
  }

  .box h1 {
    margin-bottom: 30px;
  }

  .box .desc {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .carousel {
    flex-direction: column;
  }

  .carousel img {
    max-height: 250px;
  }

  .carousel-info {
    margin-bottom: 20px;
    text-align: center;
  }

  .btn {
    display: inline;
  }
}
