* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

.background {
	height: 100vh;
	width: 100vw;
	background-color: white;
}

.bird {
	height: 100px;
	width: 160px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
    /* background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #ffc20b 19%, #498af4 39%, #17a05d 60%, #dd5044 80%, #ffffff 100%); */
    /* background-color: green; */
    /* background-color: #8EC5FC; */
    background-image: url(./wallpaper.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

}

.message {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: black;
	top: 12vh;
	left: 20vw;
	text-align: center;
}

.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: goldenrod;
	top: 0;
	left: 0;
}

.score_val {
	color: gold;
}
